body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  background: #1e88e5;
  border: none;
  color: white;
  border-radius: 8px;
}

input {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

.hidden {
  display: none;
}
